@font-face {
    font-family: 'IranSans';
    src: url('/Fonts/IRANSANSDNWEB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IranSansReg';
    src: url('/Fonts/IranSansReg.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'IranYekanThin';
  src: url('/Fonts/IRANYekanThin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekanLight';
  src: url('/Fonts/IRANYekanLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekanRegular';
  src: url('/Fonts/IRANYekanRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekanMedium';
  src: url('/Fonts/IRANYekanMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekanBold';
  src: url('/Fonts/IRANYekanBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekanExtraBold';
  src: url('/Fonts/IRANYekanExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekanBlack';
  src: url('/Fonts/IRANYekanBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekanExtraBlack';
  src: url('/Fonts/IRANYekanExtraBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.iran-sans-font{
  font-family: "IranSans" !important;
}
*{
  font-family: "IranYekanMedium";
}
html{
  height: 100%;
  
}
body{
  height: 100%;
}
b{
  font-family: "IranSans" !important;
}
#root{
  height: 100%;
}
button{cursor: pointer;}